<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="recreateDb" value="true" />

	<!-- webpages:Version - Use version 3 of the Razor engine (See http://blogs.msdn.com/b/webdev/archive/2013/07/10/how-does-vs-determine-which-version-of-razor-engine-to-use-when-editing-razor-webpage-files.aspx). -->
	<add key="webpages:Version" value="3.0.0.0"/>
	<!-- webpages:Enabled - Prevents .cshtml or .vbhtml files in the Views folder from being directly accessible from a web browser. Important from a security standpoint that this is always false. (See http://stackoverflow.com/questions/4886095/what-is-the-function-of-webpagesenabled-in-mvc-3-web-config). -->
	<add key="webpages:Enabled" value="false"/>
	<!-- ClientValidationEnabled - Enable client side JavaScript validation. -->
	<add key="ClientValidationEnabled" value="true"/>
	<!-- UnobtrusiveJavaScriptEnabled - Enable client side JavaScript validation using jQuery Validate. -->
	<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	<!-- Turn on/off ELMAH.MVC handler. -->
	<add key="elmah.mvc.disableHandler" value="false"/>
	<!-- By default HandleErrorAttribute() is set as global filter, to disable it, set value to "true". -->
	<add key="elmah.mvc.disableHandleErrorFilter" value="true"/>
	<!-- Secure the elmah route with authentication. -->
	<add key="elmah.mvc.requiresAuthentication" value="false"/>
	<!-- Ignore the default route and use the elmah.mvc.route setting below. -->
	<add key="elmah.mvc.IgnoreDefaultRoute" value="true"/>
	<!-- In case of authentication is turned on, you can specify exact roles of user that have access (e.g. "Administrator"). -->
	<add key="elmah.mvc.allowedRoles" value="*"/>
	<!-- In case of authentication is turned on, you can specify exact users that have access (eg. "johndoe"). -->
	<add key="elmah.mvc.allowedUsers" value="*"/>
	<!-- Configure ELMAH.MVC access route. Note that you should probably change this to something else.
					 This is to add a little security through obscurity. hackers can't hack your elmah page if they
					 don't know where it is.
					 Note: If you change this value (Which you should) don't forget to also change the route in RouteConfig.cs. -->
	<add key="elmah.mvc.route" value="elmah"/>
	<add key="elmah.mvc.UserAuthCaseSensitive" value="true"/>

	<add key="owin:AppStartup" value="SmartRP.Startup" />

	<add key="emailFrom" value="mysmartrp@gmail.com" />
	<add key="emailPassword" value="smartrp2017" />
	<add key="servidorSMTP" value="smtp.gmail.com" />
	<add key="SMTPPort" value="587" />
</appSettings>