<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<!-- Encrypt your connection strings (See https://msdn.microsoft.com/en-us/library/dtkwfdky.aspx). -->
	<add
		name="SmartRPDbContext"
		connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=smartrp;Integrated Security=SSPI;"
		providerName="System.Data.SqlClient"
		/>
</connectionStrings>