@{
    ViewBag.Title = "Reset password confirmation";
}

<h1 class="page-header">
	Well done!
</h1>

<div>
	Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</div>