
@{
    ViewBag.Title = "VerifyEmail";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-10">
        <p>
            <h3 class="text-danger">
                Please check your Email Inbox, <br />
                a confirm Email has send to @ViewBag.Email
            </h3>
        </p>
    </div>
</div> 